{% extends "index.html.twig" %}

{% block section %}

<header class="container my-5 text-center">
<div class="d-flex">
	<div class="d-flex flex-column align-items-center pt-5 pe-5">
		<h1 class="my-4">Projets MMI</h1>
		<p class="mb-4">Découvre tous les projets des étudiants de MMI Castres</p>
		<a class="btn btn-primary" href="#" role="button">C'est parti !</a>
	</div>
	<div class="">
		<img  id="imgaccueil" src="img/accueil.jpg" alt="Etudiants MMI"/>
	</div>
</div>
</header>

{% endblock %}