{% extends "index.html.twig" %}

{% block section %}

<div class="container-fluid bg-primary py-5"> <!-- Bandes bleues sur les côtés avec padding vertical -->
  <div class="row row-cols-1 row-cols-md-2 g-4 mx-auto" style="max-width: 1200px;"> <!-- Conteneur centralisé avec une largeur maximale -->

    <!-- Carte Utilisateurs -->
    <div class="col">
      <div class="card bg-dark text-white text-center">
        <img src="img/adminimg.jpg" class="card-img" alt="Utilisateurs">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <h4 class="card-title">Utilisateurs</h4>
        </div>
      </div>
    </div>

    <!-- Carte Projets -->
    <div class="col">
      <div class="card bg-dark text-white text-center">
        <img src="img/adminimg.jpg" class="card-img" alt="Projets">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <h4 class="card-title">Projets</h4>
        </div>
      </div>
    </div>

    <!-- Carte Catégories -->
    <div class="col">
      <div class="card bg-dark text-white text-center">
        <img src="img/adminimg.jpg" class="card-img" alt="Catégories">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <h4 class="card-title">Catégories</h4>
        </div>
      </div>
    </div>

    <!-- Carte Validation -->
    <div class="col">
      <div class="card bg-dark text-white text-center">
        <img src="pimg/adminimg.jpg" class="card-img" alt="Validation">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <h4 class="card-title">Validation</h4>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}















