{% extends "index.html.twig" %}

{% block section %}

<form  method="post" action="index.php">
    <fieldset class="form-group"> <legend>Recherche d'un Projet</legend>
        <div class="col-sm-10">  
            <input type="text" id="titre" name="titre" class="form-control form-control-sm" placeholder="Choisir un titre"/>
        </div> 
        <div class="col-sm-10">
            <textarea class="form-control form-control-sm" id="description" name="description" rows="2" placeholder="Description du projet"></textarea>
        </div>
            <button class="btn btn-outline-primary w-25 mt-2" type="submit" name="valider_recher">Rechercher</button>
    </fieldset>
</form>

<div class="row">
        <!-- Début de la première carte -->
        {% for projet in projets %}
       
        <div class="col col-md-3 mb-4">
            <div class="card">
                <img src="img/{{projet.image}}" class="card-img-top img-fluid" alt="Image du projet">
                <div class="card-body">
                    <h5 class="card-title">{{projet.titre}}</h5>
                    <p class="card-text"><small class="text-muted">Description : {{projet.description}} </small></p>
                    <div class="d-flex justify-content-between">
                        <form method="post" action="?action=details">
                            <input type="hidden" name="idprojet" id="idprojet" value="{{projet.idprojet}}">
                            <button type="submit" name="détails" class="btn btn-outline-primary">Découvrir</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        

</div>


{% endblock %} 
