{% extends "index.html.twig" %}

{% block section %}

<div class="container my-5">
    <div class="row">
        <!-- Début de la première carte -->
        {% for projet in projets %}
       
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="img/{{projet.image}}" class="card-img-top" alt="Image du projet">
                <div class="card-body">
                    <h5 class="card-title">{{projet.titre}}</h5>
                    <p class="card-text"><small class="text-muted">Auteur : {{utilisateur.prenom}} </small></p>
                    <div class="d-flex justify-content-between">
                        <form method="post" action="?action=details">
                            <input type="hidden" name="idprojet" id="idprojet" value="{{projet.idprojet}}">
                            <button type="submit" name="détails" class="btn btn-outline-primary">Découvrir</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        

    </div>
</div>

{% endblock %} 
