{% extends "index.html.twig" %}

{% block section %}

<div class="container my-5">
    <div class="row">
        <!-- Début de la première carte -->
        {% for projet in projets %}
       
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="path-to-your-image.jpg" class="card-img-top" alt="Image du projet">
                <div class="card-body">
                    <h5 class="card-title">{{projet.titre}}</h5>
                    <p class="card-text">Projet réalisé dans le cadre de la {{contexte.identifiant}}au S{{contexte.semestre}}</p>
                    <p class="card-text"><small class="text-muted">Auteur : {{utilisateur.prenom}} </small></p>
                    <a href="?action=details" class="btn btn-primary">Découvrir</a>
                </div>
            </div>
        </div>
        {% endfor %}
        

    </div>
</div>

{% endblock %} 
